<% layout('layout.ejs') -%>
<%block('title', 'Top karma') %>


<div>
    <% for(var i=0; i<persons.length; i++) {%>
    <div>
        <a href="/person/<%=persons[i].id%>"><%=persons[i].name%></a>
    </div>
    <% } %>
</div>