<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title><%=blocks.title%></title>
</head>
<body>
<header>
    <h1><%=blocks.title%></h1>
</header>

<section>

    <%-body -%>
</section>

<footer>
    <p>
        We on
        <a href="https://github.com/KozhevnikovDmitry/AstroKarma">github</a>
    </p>
</footer>
</body>
</html>